.hero{
    margin: 0 auto;
    height: 710px;
    background-color:black;
    background-image: url(/images/Group\ 34\ \(1\).png);
    background-repeat:no-repeat;
    background-position-x: right;
    background-size:1000px;
    background-position-y:bottom;
    &--container{
      margin: 0 auto;
      width: 1300px;
      
      h1{width: 50%;
        padding-top: 140px;
        font-family: 'Montserrat';
        font-weight: 700;
        font-size: 60px;
        line-height: 88.6%;
        color: #FFFFFF;
        }
        p{font-family: 'Montserrat';
            width: 49%;
            padding-top: 64px;
            font-weight: 400;
            font-size: 18px;
            line-height: 160%;
            color: #FFFFFF;}
        button{
            width: 30%;
            height: 58px;
            background: #FF0000;
            font-family: 'Montserrat';
            font-weight: 500;
            font-size: 16px;
            line-height: 20px;
            letter-spacing: 0.05em;            
            color: #FFFFFF;
            margin-top: 91px;
        }
    }
}

@media screen and (max-width:1300px){
    .hero{
        &--container{
            width: 100%;
            h1{
                margin:0 10px
            }
            p{
                margin-left:10px
            }
            button{
                margin-left: 10px
            }
            
        }
    }
}
@media screen and (max-width:800px){
    .hero{
        background-size:700px;
        &--container{
            width: 100%;
            padding: 0px 15px;
            h1{
                width: 75%;
                font-weight: 800;
                font-size: 50px;
                line-height: 88.57%;
            }
            p{width: 70%;
                font-weight: 400;
                font-size: 16px;
                line-height: 171.9%;}
            button{
                width:40%;
                height: 50px;
            }   
        }
    }
}
@media screen and (max-width:500px){
    .hero{
        &--container{
            width: 100%;
            background-size:500px;
            h1{ padding-top: 30px;
                width: 100%;
                font-size: 40px;
                line-height: 118.57%;}
            p{width: 85%;
                margin-top: 20px;
                font-size: 18px;
                line-height: 160%;}
            button{
                width:90% 
            }  
        }
    }
}











