.price{
    margin: 0 auto;
    &--container{
        width: 1300px;
        margin: 0 auto;
        height: 600px;
        display: flex;
        align-items: center;
        background-image:  url(/images/Frame\ 19.png);
        background-repeat: no-repeat;
        background-size:100%;
        &-text{
            padding: 20px;
            width: 50%;
            height: 55%;
            margin-left: 50px;
            margin-top: -55px;
            background: #FFF8F8;
            box-shadow: 0px 26px 76px rgba(12, 22, 36, 0.16);
           h3{
               font-family: 'Montserrat';
               font-weight: 800;
               font-size: 30px;
               line-height: 137.19%;
               color: #000000;
           }
           p{
               font-weight: 400;
               font-size: 16px;
               line-height: 183.91%;
               font-family: 'Montserrat';
               color: #3A3A3A;
               width: 90%;
           }
           button{
             width: 306px;
             height: 58px;
             background: #FF0000;
             font-family: 'Montserrat';
             font-weight: 600;
             font-size: 16px;
             line-height: 20px;
             color: #FFFFFF;
             margin-top: 20px;
           }
        }
    }
}
@media screen and (max-width:1300px){
    .price{
        &--container{
            width: 100%;
        }
    }
}
@media screen and (max-width:800px){
    .price{
        &--container{
            width: 100%;
            &-text{width: 60%;
            height:400px;}
        }
    }
}
@media screen and (max-width:500px){
    .price{
        &--container{
            h3{font-weight: 800;
                font-size: 20px;
                line-height: 157.19%;}
            margin-left: -25px;
            background-image: none;
            width: 100%;
            &-text{width: 90%;
                height: 500px;
                button{
                    width: 100%;
                }
            }
        }
    }
}